.title,
.score {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
}

.score {
  margin-top: 20px;
  font-size: 26px;
}

.boxesGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 100px;
}

.boxesGrid > div {
  width: 100px;
  height: 100px;
  background-color: #000;
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
  transition: ease-in-out 60ms;
}

.boxesGrid > div:hover {
  background-color: #333;
}

.boxesGrid > div:active {
  background-color: #666;
}

@media screen and (max-width: 650px) {
  .boxesGrid {
    padding: 40px;
  }
}

@media screen and (max-width: 520px) {
  .boxesGrid {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 400px) {
  .boxesGrid {
    grid-template-columns: auto auto;
  }
}

.correctText,
.wrongText {
  font-size: 26px;
  text-align: center;
}

.correctText {
  color: #2FBF71;
}

.wrongText {
  color: #EF2D56;
}

.frogImage {
  margin: 0 auto;
  display: block;
}